<div class="card-content">
  <div class="info-headings">
    <h2 class="text-uppercase left">Ashish Muralidharan</h2>
    <h5 class="text-capitalize left">Fullstack Software Developer</h5>
  </div>
</div>
