& {
  .card {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    -webkit-transition: height 1s, color 1s, margin 1s;
    transition: height 1s, color 1s, margin 1s;
    z-index: 1;
    background: #06A763;
    margin: -33px 3px 0 0;

  }

  .profile {
    position: absolute;
    right: 0;
    z-index: 1;

    img {
      display: block;
      width: 400px;
      height: auto;
    }

    .slant {
      top: 0;
      z-index: 1;
      position: absolute;
      border-style: solid;
      border-width: 400px 0 0 100px;
      border-color: rgba(223, 50, 50, 0) transparent transparent #06A763;
    }
  }
}
